form(role="form")
  .form-group
    label(for="author") Ton nom
    input#author.form-control(type="text" placeholder="Patrick Hernandez" autofocus required)
  .form-group
    label(for="text") Ton commentaire
    textarea#text.form-control(rows=5 placeholder="Born to be aliiiiive…" required)
  p: button.btn.btn-primary.btn-lg(type="submit")
    i.fa.fa-comment
    |  C’est parti !
