.jumbotron
  h1 Front-End Dev Avengers
  p Une présentation de Christophe Porteneuve à BLEND Web Mix 2014

.row
  .col-md-6
    p.lead Rejoins la discussion !
    #form
  .col-md-6
    p.lead Récemment…
    ul#history.list-unstyled.well
