#history
  blockquote
    margin-bottom 0

  cite
    font-style italic
    color gray
    &::before
      content: '—'

  & > li
    position relative

    &:not(:first-child)
      border-top 1px solid silver
      padding-top 0.5em
      margin-top 0.5em

  time
    position absolute
    top 0
    right 0
    font-size 90%
    color gray
